<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Abdelwahed Khamis</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500,600,700,800,900" rel="stylesheet">-->

    <link rel="icon" type="image/png" href="images/csiro.svg"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- Xman CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div class="loading-overlay" v-if="!isLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="main-content" v-bind:class="{ 'loaded': isLoaded }">
    <div id="header">
        <header class="header">
            <nav class="nav-container">
                <ul class="nav-list">
                    <li class="nav-item" v-if="index" :class="{ current: currentPage === 'index' }">
                        <a href="index.html" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item" v-if="news" :class="{ current: currentPage === 'news' }">
                        <a href="news.html" class="nav-link">NEWS</a>
                    </li>
                    <li class="nav-item" v-if="publication" :class="{ current: currentPage === 'publication' }">
                        <a href="publication.html" class="nav-link">PUBLICATION</a>
                    </li>
                    <li class="nav-item" v-if="blog" :class="{ current: currentPage === 'blog' }">
                        <a href="blog.html" class="nav-link">BLOG</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-wrapper fade-in" id="container">
        <div class="container">
            <article class="resume-wrapper hover-effect">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-image-wrapper mb-4">
                            <img class="resume-profile-image" v-bind:src="avatar" alt="Profile Image">
                        </div>

                        <div class="contact-info mb-4">
                            <h2 class="resume-name text-uppercase">{{name_en}}</h2>
                            <div class="resume-tag mb-3">{{name_tag}}</div>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-envelope"></i><a class="resume-link" href="mailto:abdelwahed.khamis@data61.csiro.au">{{email}}</a></li>
                                <li><i class="fas fa-map-marker-alt"></i>{{city}}</li>
                            </ul>
                        </div>

                        <div class="social-links mb-4">
                            <ul class="resume-social-list list-inline">
                                <li class="list-inline-item"><a target="_blank" href="https://scholar.google.com.au/citations?user=nj2jJB0AAAAJ"><i class="fab fa-google fa-2x"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://au.linkedin.com/in/abdelwahed-khamiss"><i class="fab fa-linkedin fa-2x"></i></a></li>
                            </ul>
                        </div>

                        <div class="introduction">
                            <p v-html="introduction"></p>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <section class="news-section mb-4">
                            <h3 class="text-uppercase resume-section-heading mb-4">News</h3>
                            <ul class="news-list">
                                <li v-for="(item, index) in news" v-if="index < news_show_count">
                                    <div class="item-news-date"><i>{{item.date}}</i></div>
                                    <div class="item-news-content" v-html="item.content"></div>
                                </li>
                            </ul>
                            <a href="news.html" class="btn btn-primary mt-3">More news</a>
                        </section>

                        <section class="publication-section mb-4">
                            <h3 class="text-uppercase resume-section-heading mb-4">Selected Publications</h3>
                            <div v-for="(item, index) in publication" v-if="item.selected && item.author && item.author.length > 0" class="item mb-3">
                                <span class="badge text-bg-primary" style="background-color: #ffc107;color:black ">&nbsp;&nbsp;{{item.conf_short}}&nbsp;&nbsp;</span>
                                <a v-bind:href="item.url" target="_blank"><h4 class="item-title mb-2">{{item.title}}</h4></a>
                                <div class="item-author">
                                    <span v-for="(item_author, index_author) in item.author">
                                        <span v-if="index_author != 0">, </span>
                                        <span v-if="item.author_order == index_author + 1" class="item-myself">{{item_author}}</span>
                                        <span v-else>{{item_author}}</span>
                                    </span>
                                </div>
                                <div class="item-conf-jour">{{item.conf_or_jour}}</div>
                                <div class="item-resource">
                                    <a v-if="item.resource.hasOwnProperty('paper_url')" v-bind:href="item.resource.paper_url"><i class="fa fa-file-pdf"></i></a>
                                    <a v-if="item.resource.hasOwnProperty('slide_url')" v-bind:href="item.resource.slide_url"><i class="fa fa-file-image"></i></a>
                                    <a v-if="item.resource.hasOwnProperty('video_url')" v-bind:href="item.resource.video_url"><i class="fa fa-file-video"></i></a>
                                    <a v-if="item.resource.hasOwnProperty('code_url')" v-bind:href="item.resource.code_url"><i class="fa fa-github"></i></a>
                                    <a v-if="item.resource.hasOwnProperty('website_url')" v-bind:href="item.resource.website_url"><i class="fa fa-globe"></i></a>
                                </div>
                            </div>
                            <a href="publication.html" class="btn btn-primary mt-3">Full list</a>
                        </section>

                        <section class="students-section">
                            <h3 class="text-uppercase resume-section-heading mb-4">Students</h3>
                            <ul class="news-list">
                                <li v-for="item in team"><span v-html="item"></span></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <footer class="footer text-center">
        <div class="container">
            <small class="copyright">{{information}}</small>
        </div>
    </footer>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/all.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/index-vue.js"></script>
</body>
</html>
